img{
    width: 500px;
}

header{
    margin: 30px 0
}

.ms-todo-container{
    background-color: rgb(117, 175, 211);
}

.todo-item{
    border-bottom: 1px solid blue;
    padding: 5px 10px;
}

.ms-input{
    width: 600px;

}

.pointer{
    cursor: pointer;
}

.error-txt{
    color: red
}
